@model IEnumerable<SmartActS.DataModels.Supply>
@using SmartActS.DataModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplyName)
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
       
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobiPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayName("Rank")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyName)
        </td>
        <td>
        @Html.DisplayFor(modelItem => new SmartActSModel().Locations.Find(item.LocationId).LocationName) 
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => new SmartActSModel().Categories.Find(item.CategoryId).CategoryName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobiPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RankId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsStatus)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplyId })
        </td>
    </tr>
}

</table>
